.center{
    text-align:center;
}
.box{
    border:1px solid black;
    background-color:white;
    padding:5px;
    overflow:hidden;
    height:500px;
}
.indent{
    text-indent:20px;
}
.padit{
    padding-top:10px;
    margin:0px;
}
body{
    background-color:#F5E0EA;
}